<nav class="navbar navbar-dark bg-dark">
	<a class="nav-link" href="/">Home</a>
	<a class="nav-link" href="/register">Register</a>
	<a class="nav-link" href="/topics">Topics</a>
  <a class="nav-link" href="/admin/students">Admin</a>
</nav>
